* {
    margin: 0; padding: 0;
} 

body {
	background: black;
}

/*header*/
header {
	width: 800px;
	margin: 40px auto;
}
 
header-h1 {
	text-align: center;
	font: 100 60px/1.5 Helvetica, Verdana, sans-serif;
}
 
header-p {
	font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
	text-align: justify;
}

h2 {
    color: white;
}

#container {
	width: 99%;
    height: 99%;
	overflow: hidden;
	margin: 50px auto;
	background: white;
}

.banner-img {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px; 
}

.btn {
     background: #b9d8ed;
     background-image: -webkit-linear-gradient(top, #b9d8ed, #2980b9);
     background-image: -moz-linear-gradient(top, #b9d8ed, #2980b9);
     background-image: -ms-linear-gradient(top, #b9d8ed, #2980b9);
     background-image: -o-linear-gradient(top, #b9d8ed, #2980b9);
     background-image: linear-gradient(to bottom, #b9d8ed, #2980b9);
     -webkit-border-radius: 5;
     -moz-border-radius: 5;
     border-radius: 5px;
     text-shadow: 2px 0px 3px #666666;
     font-family: Georgia;
     color: #ffffff;
     font-size: 20px;
     padding: 15px 20px 15px 20px;
     border: solid #1f628d 2px;
     text-decoration: none;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 50px;
}

.btn:hover {
     background: #3cb0fd;
     background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
     background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
     background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
     background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
     background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
     text-decoration: none;
}

.btn:active {
     box-shadow: 0 5px #666;
     transform: translateY(4px);
}

/*photobanner*/
.photobanner {
	height: 233px;
	width: 3550px;
	margin-bottom: 80px;
}
 
.photobanner img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
 
.photobanner img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
 
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

/*keyframe animations*/
.banner-img {
    width: 350px;
    height: 233px;
	-webkit-animation: bannermove 30s linear infinite;
	   -moz-animation: bannermove 30s linear infinite;
	    -ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	        animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 } 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 } 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 } 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 } 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 } 
}