/*general styles*/

* {
    margin: 0; padding: 0;
} 

body {
	background: black;
}

a {
    color: blue;
    text-decoration: underline;
	font: large Helvetica, Verdana, sans-serif;
}

header {
	width: 50%;
	margin: 40px auto;
    text-align: center;
}
 
header-h1 {
	font: xx-large Helvetica, Verdana, sans-serif;
    color:black;
}

h2 {
    color: black;
  	font: larger Helvetica, Verdana, sans-serif;
    background: lightgrey;
    width: 75%;
}

h3 {
    color: black;
  	font: xx-large Helvetica, Verdana, sans-serif;
}

p {
    color: black;
	font: large Helvetica, Verdana, sans-serif;
}

.p-header {
    color: dimgrey;
	font: large Helvetica, Verdana, sans-serif;
}

.p1 {
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    color: black;
	font: large Helvetica, Verdana, sans-serif;
}

.p2 {
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    color: black;
	font: smaller Helvetica, Verdana, sans-serif;
}

.p3 {
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    color: darkred;
	font: large Helvetica, Verdana, sans-serif;
    font-style: italic; 
}

.p4 {
    color: grey;
	font: xx-small Helvetica, Verdana, sans-serif;
}

label {
    font: large Helvetica, Verdana, sans-serif;
}

/*horizontal lines*/

hr { 
    padding: 0;
    border: none; 
    border-top: medium double #8c8c8c; 
    color: #8c8c8c; 
    text-align: center;
} 
    
hr:after { 
    content: "§"; 
    display: inline-block; 
    position: relative; 
    top: -0.7em; 
    font-size: 1.5em; 
    padding: 0 0.25em;
    background: #ECF4FA; 
}

#container {
  	width: 99%;
    height: 99%;
  	overflow: hidden;
  	margin: 50px auto;
  	background: #ECF4FA;
}

/*content divs*/

#content {
    padding: 15px;
    color: black;
}

#searchdiv {
    width: 400px;
    margin: auto;
    }

#pickerdiv {
    width: 90%;
    margin: 40px auto;
    margin-left: 10% auto;
    }

#promodiv {
    width: 99%;
    margin: 40px auto;
    text-align: left;
    }

#linkdiv {
    width: 99%;
    text-align: center;
    vertical-align: middle;
    line-height: auto;
    }  

/*nav bar*/

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
 
ul.sidenav li a.active {
    background-color: #207cca;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}

/*search bar and buttons*/

.search {
     padding:8px 20px;
     background:rgba(50, 50, 50, 0.2);
     border:0px solid #dbdbdb;
}
.button {
    position:relative;
    padding:6px 15px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    margin-bottom: 50px;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}

.button2 {
    position:relative;
    padding:6px 15px;
    left:30%;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    margin-bottom: 50px;
}
.button:hover2  {
    background-color:#fafafa;
    color:#207cca;
}

/*radio buttons*/

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
  background: #9faab7;
}

.option-input:checked {
  background: #207cca;
}

.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #207cca;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}

/* range inputs */

#custom-handle {
   width: 3em;
   height: 1.6em;
   top: 50%;
   margin-top: -.8em;
   text-align: center;
   line-height: 1.6em;
}

#slider {
   width: 25%;
   margin-top: 25px;
}  


/*advertisements*/

#sidebar {
   float: right;
   padding-top: 15px;
   color: #eee;
   min-height: 650px;
   min-width: 200px;
}

#sidebar2 {
   float: left;
   padding-left: 15px;
   color: #eee;
   min-height: 650px;
   min-width: 400px;
}

#sidebar3 {
  float: right;
  padding-top: 40px;
  padding-left: 15px;
  color: #eee;
  min-height: 650px;
  min-width: 400px;
}

#banner {
  display: table;
  margin: auto;
  color: #eee;
}

@media only screen and (max-width: 768px) {
#sidebar {
  display: none;
  }

#sidebar2 {
  display: none;
  }

#sidebar3 {
  display: none;
  }  

#banner {
  display: none;
  }

#content {
  margin-right: 0;
  }
}

/*photobanner*/

.banner-img {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px; 
}

.photobanner {
	height: 233px;
	width: 7000px;
	margin-bottom: 80px;
}
 
.photobanner img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
    /*tells browser to use GPU*/ 
    transform: translate3d(0, 0, 0);
}
 
.photobanner img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
 
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

/*keyframe animations*/
.banner-img {
    width: 350px;
    height: 233px;
	-webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
	    -ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	        animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -3500px;
 } 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3500px;
 } 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 } 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 } 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 } 
}